PORT=8080
MONGODB_URI=mongodb://localhost:27017/e-commerce
JWT_SECRET=<YOUR SECRET KEY>
SMTP_USERNAME=<your SMTP_USERNAME>
SMTP_PASSWORD=<YOUR SMTP_PASSWORD>
SMTP_FROM_EMAIL=<YOUR SMTP_FROM_EMAIL>
SMTP_HOST=smtp.gmail.com
SMTP_PORT='587'