PORT=8080
MONGODB_URI=mongodb://localhost:27017/e-commerce
JWT_SECRET=<YOUR SECRET KEY>
SMTP_USERNAME=<your SMTP_USERNAME>
SMTP_PASSWORD=<YOUR SMTP_PASSWORD>
SMTP_FROM_EMAIL=<YOUR SMTP_FROM_EMAIL>
SMTP_HOST=smtp.gmail.com
SMTP_PORT='587'
CLOUDINARY_API_KEY=<set your api key>
CLODINARY_API_SECRET=<set your api secret>
CLOUDINARY_CLOUD_NAME=<set your cloud name>